<!-- Views => shared  => right click => Add => MVC5 Partial Page(Razor) -->
<div>
    <div>
        Header
        <ul>
            @Html.Action("LoginState","Account")            <!---->
        </ul>
    </div>
</div>
